.footer {
  background-color: #429BF5;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}