.wallsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px 20px;
  border: solid black 1px;
}

.numberInput {
  margin: 20px;
  width: 100px;
  height: 25px;
  font-size: large;
}

.doorsAndWindows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divTitleWall {
  margin: 0;
}

.widthAndHeight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.measurements {
  display: flex;
  padding: 0 20px;
}

@media screen and (max-width: 350px) {
  .measurements {
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
  

.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;

}

