body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.app {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background-image: url('./assets/background.jpg');
  background-repeat: repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}